@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

:root {
  --color1: #29fee6;
  --color2: #002fa6;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, var(--color1), var(--color2));
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: gradient 12s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.relogio {
  transition: border-radius 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 26%;
  width: 43%;
  background: transparent;
  /* border-radius: 0px 65px; */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  gap: 2%;
}

.numero-container {
  height: 66.5%;
  width: 24.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 0.89vw rgba(0, 0, 0, 0.2),
    0px 0px 6px 0.65vw rgba(0, 0, 0, 0.15), 0px 0px 6px 7px rgba(0, 0, 0, 0.1);
  /* border-radius: 0px 25px; */
  letter-spacing: 8px;
}

.numero {
  font-weight: bolder;
  font-size: 4vw;
}

.color-bar {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 60px;
  height: 100%;
  border: none;
  cursor: pointer;
  margin: 0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.color-bar:hover {
  opacity: 0.3;
}

.color-bar::-webkit-color-swatch-wrapper {
  padding: 0px;
}

.color-bar::-webkit-color-swatch {
  border: none;
}

/* Firefox */
.color-bar::-moz-color-swatch {
  border: none;
}

/* Internet Explorer / Edge */
.color-bar::-ms-color-swatch {
  border: none;
}

/* Opera */
.color-bar::-o-color-swatch {
  border: none;
}
